/* 
    Colores 
        La mayoria de las pantallas funcionan conun modo de color
        aditivo. La suma de RGB da como resukltado un blanco 
        Tenemos varias formas de dar color en css

    Keywords -> Palabras clave que representan colores https://
    www.w3.org/wiki/CSS/Properties/color/keywords 

    IMPORTANTE: Recordad que existe el color "tranparent"

    CurrentColor: Es una palabra clave que se puede usar en
    lugar de cualquier valor de color y usará ya sea 
    establecido o heredado en la propiedad color. 

    RGB/RGBA
        En el modo RGB tenemos tres canales (Red, Green, Blue) y
        tenemos 8 bits de color por canal, (cada bit tiene dos
        posibles valores 0 ó´1) lo que significa que tenemos 2^8 
        posibles valores, que van desde 0 hasta 255.

        Esto nos da un total de 255 * 255 * 255 = 16.581.375
        colores.

        Su sintaxis es rgb(R,G,B)

        Si ponemos todos los canales a 0  tendremos un negro puro 
        y si los ponmeos 255 tendremos un blanco. 

        Para movernos por la gama de grises debemos poner los 3 
        canales con el mismo valor, si ponemos los 3 canales a 
        128 tendremos el gris puro. 

        El modo RGB nos da la opcion de utilizar un cuarto canal
        que corresponderia al canal alpha, es decir, la 
        transparencia, y su valor va desde 0 a 1. Tenemos dos
        sintaxis para utilizar el canl aplha
            rgba(R,G,B,A)
            rgb(R G B / A)

    Hexadecimal 
        La notacion hexadecimal es la más común en desarrollo
        web, se basa en los mismos principios que el RGB pero
        escito en notacion hexadecimal. 

        El sistema hexadecimal es un sistema basado en 16 
        valores del 0 al 15 
        Utiliza los digitos del 0 al 9 y las letras de la A a la 
        F 

        En este tipó de notacion tambien necesitamos 256 valores. 

        Se compone de 156 caracteres en árejas ya que 16*16 = 256 
        0 1 2 3 4 5 6 7 8 9 A B C D E
        0 1 2 3 4 5 6 7 8 9 A B C D E 

        Para indicar que vamos a usar notacion hezxadecimal
        debemos usar el simbolo de hash/almohadilla # y a 
        continuación usaremos esta notacion por parejas.
        #RRGGBB 
        Cuando una pareja usa el mismo valor se puyede omitir el 
        segundo valor siempre que se haga en las 3 parejas

            rgb(255,255,255) -> #FFFFFF -#FFF
            rgb(0,0,0) -> #000000 -> #000 

        Tambien tenemos la opcion de usaar transparencia en 
        hexaecimal añadiendo un cuarto canal que sigue las 
        mismas normas.

        rgb(0 0 0 / .5) -> #00000080 -> #0007

        HSL  / HSLA
            El modo de color HSL es el más intuitivo para los 
            humanos. Su nombre viene de las siglas Hue (tono)
            Saturacion (saturacion) y Lightness (Luminancia)

            El primer valor es el ángulo en el circulo cromatico
            donde 0 y 360 será el color rojo. Hay ciertos valores
            que os pueden servir como referencia para relacionar
            mejor los colores con sus ángulos. 
                0 -> rojo
                60 -> amarillo 
                120 -> verde 
                180 -> cyan 
                240 -> azul   
                300 -> magenta
            
            El segundo valor es la saturacion o intensidad del color. 
                0% -> gris
                100% -> color puro
            
            El tercer valor es la luminosidad del color 
                0% -> gris
                100% -> color puro
            
            Nota: Es importante que aunque el valor de saturacion o 
            luminancia sea 0 hay que poner 0% si no, no funcionará

            El modo HSL tambien admite transparencia y su sintaxis
            es la misma que la del modo RGB. Tenemos dos sintaxis
            disponible. 
                hsla(h,s,l,a)
                hsl(h s l / a)
            En ambos casos el valor alpha va de 0 a 1 
            
            Existen otros cuatro modos de color en los que está
            trabajando que seriam CMYK (Cyan, Magenta, Yellow y Black)
            , HWB (Hue, Whiteness, Blackness), lab(Lightness, distance
            a, distance b) y lch(Lightness, chroma, hue), todos están 
            en el borrador del modulo de color de nivel 4 pero aún no
            es estadnar.  
*/
body {
    background-color: mediumorchid;
    /* background-color: hsl(60, 100%, 40%, 0.5); */
}

.box {
    /* border-left: 100px solid red;
    border-top: 100px solid blue;
    border-bottom: 100px solid green; */
    width: 300px;
    height: 300px;
    background-color: #808080ff;
    /* background-color: rgba(0,9,0, 0.4); */
    /* border: 5px solid currentColor; */
    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.3);
    box-shadow: 5px 5px 10px #0004;
    box-shadow: 5px 5px 10px hsl(180, 50%, 50%);
}