/* 
    Colores 
        La mayoria de las pantallas funcionan conun modo de color
        aditivo. La suma de RGB da como resukltado un blanco 
        Tenemos varias formas de dar color en css

    Keywords -> Palabras clave que representan colores https://
    www.w3.org/wiki/CSS/Properties/color/keywords 

    IMPORTANTE: Recordad que existe el color "tranparent"

    CurrentColor: Es una palabra clave que se puede usar en
    lugar de cualquier valor de color y usará ya sea 
    establecido o heredado en la propiedad color. 
*/
body {
    margin: 0;
    background-color: mediumorchid;
    color: #333;
}
.main{
    color: aquamarine;
    /* background-color: currentColor; */
}
.box {
    /* border-left: 100px solid red;
    border-top: 100px solid blue;
    border-bottom: 100px solid green; */
    width: 300px;
    height: 300px;
    background-color: orange;
    border: 5px solid currentColor;
}