/* 
    La propiedad display nos sirve para cambiar el contexto 
    de los elementos dentro del navegador 

    Admite varios valores
        none -> Hace que el elemento no se mustre, pero 
        sigue cargandose.
        block -> Hace que el elemento sea de bloque 
        inline -> Hace que el elemento sea de linea 
        pero admite medidas y margenes verticales
        inline-block -> Hace que el elemento sea de linea 
        pero admite medidas y margenes verticales
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: #333;
    color: #fff;
}

.text {
    background: lightcoral;
    /* display: none; */
    /* display: inline;
    width: 200px;
    margin-bottom: 100px; */
}

.link {
    background: whitesmoke;
    display: inline-block;
    width: 100px;
    margin-top: 50px;
    /* display: block;
    width: 100px;
    margin-bottom: 20px; */
}