/* 
    La propiedad box-shadow se creo para añadir efectos de
    sombra a nuestra caja.

    En esencia lo que hace es crear un clon de la caja 
    representando la forma de su box-model (ancho, alto, 
    redondez)

    La sintaxis de box-shadow se puede escribir de distintas
    formas segun lo que queramos conseguir.
        Los valores que le podemos poner son: 
            offset-x -> Desplazamiento en X (obligatorio)
            offset-y -> Desplazamiento en Y (obligatorio)
            blur-radius -> Desplazamiento en X (obligatorio)
            spread-radius -> Desenfoque de la sombra 
            color -> El color de la sombra, si no lo 
            especificamos lo heredará del elemento al que 
            pertenece
            inset -> Determina si la sombra será interior o 
            exterior
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.box {
    background: darkcyan;
    width: 200px;
    padding: 50px;
    color: red;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 30px; */
    /* box-shadow: inset -10px -10px 20px 0 #111; */
    -webkit-box-shadow: 5px 5px red, 10px 10px green, 15px 15px blue;
            box-shadow: 5px 5px red, 10px 10px green, 15px 15px blue;
}